*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color System sheets */
  --color-primary: #051937;
  --color-primary-shade-1: #2e395c;
  --color-primary-shade-2: #9ba7d3;
  --color-secondary: #30da66;
  --color-secondary-shade-1: #a8eb12;
  --color-tertiary:#004d7a;
  --color-tertiary-shade-1:#42bfca45;
  --color-text-black: #333333;
  --color-text-white: #d3e0ff;
  --color-white: #ffffff;
  --color-bg-black: #252525;
  /* Font weight Sheets*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  /* Font size sheets */
  --fs-s: 1.6rem;
  --fs-m: 2.1rem;
  --fs-l: 3.2rem;
  --fs-xl: 4.8rem;
  /* margins sheets */
  --mb-s: 1rem;
  --mb-m: 2rem;
  --mb-l: 4rem;

  --mt-s: 1rem;
  --mt-m: 2rem;
  --mt-l: 4rem;

  /* font family */
--font: font-family: "Red Hat Display", sans-serif;
}


html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
  background-image: linear-gradient(22deg, #051937 0%, #004d7a 25%, #008793 50%, #00bf72 70%, #a8eb12 100%);
  user-select: none;
}
@media screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 75em) and (min-width: 64em) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 64em) and (min-width: 48em) {
  html {
    font-size: 43.7%;
  }
}

@media screen and (max-width: 48em) and (min-width: 30em) {
  html {
    font-size: 37.5%;
  }
}
@media screen and (max-width: 30em) and (min-width: 20em) {
  html {
    font-size: 31.25%;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hover-bright:hover {
  filter: contrast(110%);
}

.hover-darker:hover {
  filter: brightness(90%);
}
