*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  /* Color System sheets */
  --color-primary: #051937;
  --color-primary-shade-1: #333f62;
  --color-primary-shade-2: #8e99c1;
  --color-secondary: #2cd261;
  --color-secondary-shade-1: #a8eb12;
  --color-secondary-shade-2: #d3f589;
  --color-text-black: #333333;
  --color-text-white: #d3e0ff;
  --color-white: #ffffff;
  /* Font weight Sheets*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  /* Font size sheets */
  --fs-s: 1.6rem;
  --fs-m: 2rem;
  --fs-l: 2.8rem;
  --fs-xl: 3.8rem;
  /* margins sheets */
  --mb-s: 1rem;
  --mb-m: 2rem;
  --mb-l: 4rem;

  --mt-s: 1rem;
  --mt-m: 2rem;
  --mt-l: 4rem;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(22deg, #051937 0%, #004d7a 25%, #008793 50%, #00bf72 70%, #a8eb12 100%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
