*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #051937;
  --color-primary-shade-1: #333f62;
  --color-primary-shade-2: ##8e99c1;
  --color-secondary: #a8eb12;
  --color-tertiary: #2cd261;
  --color-black: #333333;
  --color-white: #f1f5ff;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(22deg, #051937 0%, #004d7a 25%, #008793 50%, #00bf72 70%, #a8eb12 100%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
