.expense-filter {
  margin-bottom: 1rem;
  grid-column: 1/-1;
  grid-row: 1/2;
}
.expense-filter__dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 1rem 1rem 1rem 2rem;
  width: 100%;
  border-radius: 1.5rem;
  background-color: var(--color-white);
  box-shadow: 0 0 1.5rem #00000025;
  /* border: 2px solid var(--color-secondary); */
}

.expense-filter__dropdown p {
  font-size: var(--fs-l);
  font-weight: var(--fw-light);
  color: var(--color-primary);
}
.expense-filter__dropdown select {
  font-size: var(--fs-l);
  font-family: var(--font);
  width: 20%;
  /* padding: 1rem; */
  border-radius: 1rem;
  background-color: inherit;
  color: var(--color-primary);
  outline: none;
  font-weight: var(--fw-light);
  text-align: center;
  border: none;
}

.expense-filter__dropdown option {
  font-weight: var(--fw-regular);
}

.expense-filter:hover select {
  font-weight: var(--fw-regular);
}
