.expense-filter {
  margin-bottom: 1rem;
  grid-column: 1/-1;
  grid-row: 1/2;
}
.expense-filter__dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 1rem 1rem 1rem 2rem;
  width: 100%;
  border-radius: 1.5rem;
  background-color: var(--color-tertiary-shade-1);
}

.expense-filter__dropdown p {
  font-size: var(--fs-l);
  font-weight: var(--fw-light);
  color: var(--color-primary);
}
.expense-filter__dropdown select {
  font-size: var(--fs-l);
  font-family: var(--font);
  font-weight: var(--fw-light);
  width: 20%;
  /* padding: 1rem; */
  border-radius: 1rem;
  background-color: transparent;
  color: var(--color-primary);
  outline: none;
  text-align: center;
  border: none;
}

.expense-filter__dropdown option {
  font-weight: var(--fw-regular);
}

.expense-filter:hover select {
  font-weight: var(--fw-regular);
}
